{% extends 'base.html.twig' %}

{% block title %}Manage the properties{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>Manage the properties</h2>
        {% for  message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="text-right mb-4">
            <a href="{{ path('app_admin_property_add') }}" class="btn btn-primary">Create new</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for property in properties  %}
            <tr>
                <td>{{ property.title }}</td>
                <td>
                    <a href="{{ path('app_admin_property_edit', {id:property.id}) }}" class="btn btn-secondary">Edit</a>
                    <form method="post" action="{{ path('app_admin_property_delete', {id:property.id}) }}" style="display: inline-block" onsubmit="return confirm('Do you want to delete?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



