{# {% cache "cache key" %} #}
<div class="card mb-4">
    <div class="property-list">
        {% if property.filename %}
            <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" alt="{{ property.title }}">
        {% else %}
            <img class="card-img-top" src="https://picsum.photos/id/405/200/110" alt="{{ property.title }}">
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('app_properties.show', {id: property.id, slug:property.slug}) }}">
                {{ property.title }}
            </a>
        </h5>
        <div class="card-text">{{ property.description | nl2br }}</div>
        <p class="card-text">{{ property.surface }}m<sup>2</sup> - {{ property.city }} ({{ property.postalCode }})</p>
        <div class="text-primary text-base" style="font-weight: bold;font-size: 2rem">{{ property.formatedPrice }} Ar</div>
    </div>
</div>
{# {% endcache %} #}
