<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.min.css') }}"  crossorigin="anonymous"> #}
        {# <link rel="stylesheet" href="{{ asset('css/style.css') }}"  crossorigin="anonymous"> #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"  crossorigin="anonymous">
        
        {# <link rel="stylesheet" href="{{ asset('build/app.css') }}"  crossorigin="anonymous"> #}
        
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand text-primary" href="{{ path('app_home') }}">My Agency</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if current_menu is defined and current_menu == 'properties' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('app_properties') }}">Buy</a>
                    </li>
                </ul>
            </div>

            {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item text-primary mr-2">
                        {{ app.user.username }}
                    </li>
                    <li class="nav-item text-secondary">
                        <a href="{{ path('logout') }}">Logout</a> 
                    </li>
                </ul>
            {% endif %}
        </nav>
        {% block body %}{% endblock %}
        {# <script src="{{ asset('jquery/jquery-3.3.1.slim.min.js') }}"  crossorigin="anonymous"></script> #}
        {# <script src="{{ asset('bootstrap/popper.min.js') }}"  crossorigin="anonymous"></script>
        <script src="{{ asset('bootstrap/bootstrap.min.js') }}"  crossorigin="anonymous"></script> #}
        {# <script src="{{ asset('build/app.js') }}"  crossorigin="anonymous"></script> #}
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"  crossorigin="anonymous"></script>
        <script>
            $('select').select2();
        </script>   #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
